@* @model IEnumerable<DemoMVC.Models.Student> *@
@model DemoMVC.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Student" asp-action="Index">
    <p>
        <select asp-for="STstudentName" asp-items="Model.studentName">
            <option value="">All</option>
        </select>
        studentName: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].studentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].birthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Countryside)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.studentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Countryside)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.studentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.studentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.studentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
